h3 {
  text-align: center;
}
.wrapper,
.instructions {
  width: 525px;
  margin: 20px auto;
}
.wrapper {
  position: relative;
  height: 230px;
}
.instructions {
  text-align: center;
}
input {
  position: absolute;
  right: 31px;
  top: 82px;
  width: 79px;
}
.written {
  position: absolute;
  top: 107px;
  left: 35px;
}
.pennies {
  position: relative;
  bottom: 7px;
  font-size: 75%;
}
.pennies:after {
  content: '100';
  display: inline-block;
  height: 10px;
  position: relative;
  left: 5px;
  top: 8px;
}
.pennies:before {
  content: 'l';
  display: inline-block;
  position: relative;
  top: 7px;
  left: 16px;
  transform: rotate(37deg);
  font-family: sans-serif;
  font-size: 150%;
  font-weight: 300;
}
